<div class="container">
        <div class="row">
    
            <div class="title text-center">
                <h2>Nos photos de chats</h2>
            </div>
    </div>
        
        <div class="row">
        <% @items.each do |item| %>
        <div class="col-md-3">
        <div class="product-item">
    
        
            <div class="product-thumb">
            
                <img class="img-responsive" src="<%= item.image_url %>" alt="product-img">
                <div class="preview-meta">
                    
            </div>
        </div>
            <div class="product-content">
                <h4><%= link_to item.title, item_path(item.id)%></h4>
                <p class="price"><%= item.price%>€</p>
                
            </div>
        
    
    
    
    </div>

    </div>
    <% end %>
    </div>

	<div class="container">
		<div class="row">
	
			<div class="title text-center">
				<h2>Nos photos de chats</h2>
			</div>
	</div>
		
		<div class="row">
		<% @items.each do |item| %>
		<div class="col-md-3">
		<div class="product-item">
	
		
			<div class="product-thumb">
			
				<img class="img-responsive" src="<%= item.image_url %>" alt="product-img">
				<div class="preview-meta">
					
			</div>
		</div>
			<div class="product-content">
				<h4><%= link_to item.title, item_path(item.id)%></h4>
				<p class="price"><%= item.price%>€</p>
				
			</div>
		
	
	
	
	</div>

	</div>
	<% end %>
	</div>
	</div>
	</div>
			




			
